// Finicky routes URLs to the right browser/profile based on rules.
// Docs: https://github.com/johnste/finicky
export default {
  defaultBrowser: {
    name: "Google Chrome",
    profile: "Samuel", // sam.wibrow@gmail.com
  },
  handlers: [
{{- $work := joinPath .chezmoi.homeDir ".config/dotfiles-private/finicky-work.js" }}
{{- if stat $work }}
{{ output "cat" $work | trimSuffix "\n" }}
{{- end }}
  ],
};
